{% extends 'users/base.html' %}  
{% block content %}
  <h2>{{ section.name }} section</h2>
  {% if object.adviser == user %}
    <a type="submit" class="btn btn-primary" href="{% url 'section-update' object.id %}">Update</a>
    <a type="submit" class="btn btn-danger" href="{% url 'section-delete' object.id %}">Delete</a>
  <div class="card mt-3">
    <div class="card-header">
      {{ object.school_year }}
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Role: <b>{{ section.get_role_display }}</b></p>
      <p class="card-text">Principal: <b>{{ section.principal_name }}</b></p>
    </div>
</div>
{% endif %}
{% endblock %}